<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" touch-action=manipulation content="width=device-width, initial-scale=1.0" maximum-scale=1.0 user-scalable=no>
    <meta name="apple-mobile-web-app-capable" content="yes"> <!-- For iOS fullscreen mode -->
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"> <!-- For iOS status bar -->
    
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="container">
        <h1>TapSol</h1>
        <p id="score">987,654</p>
        <div class="level">
        <p id="level">Heroic</p>
        </div>
    <progress id="progress"value="27" max="100"></progress>
        
        <img id="coin" src="/images/coin.png" alt="3D Coin">
        <footer class="footer">
            <button id="button1">Home</button>
            <button id="button2">Boost</button>
            <button id="button3">Balance</button>
            <button id="button4">Downlines</button>
        </footer>
    </div>
    <script src="/js/scripts.js"></script>
</body>
</html>
