html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    overflow: hidden; /* Prevent scrolling */
}

body {
    background-color: #201844; /* Example color: AliceBlue */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

h1 {
    position: absolute;
    top: 10px; /* Distance from the top of the page */
    width: 100%;
    text-align: center;
    margin: 0 0;
    font-size: 2em; /* Adjust the font size as needed */
    color: #E8BB77; /* Example color */
}

p#score {
    font-size: 2.3em; /* Adjust the font size as needed */
    margin-top: 0; /* Add some space above and below the score */
    margin-bottom: 0;
    color: white;
    font-weight: bold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.level {
    width: 90%;
    text-align: left;
    font-size: 1.2em;
    margin-top: -0.8em;
    margin-bottom: 0;
    font-weight: bolder;
    color: #ffffff;
}

progress {
    width: 90%; /* Adjust the width as needed */
    height: 1em; /* Adjust the height as needed */
    margin-top: -18px; /* Add some space between the score and progress bar */
    margin-bottom: 30px;
    color: #000;
    background-color: #201844;
    border: 3px solid #E8BB77; /* Remove border */
    border-radius: 20px; /* Rounded corners */
    overflow: hidden; /* Hide the overflow */
}
 
progress::-webkit-progress-bar {
    background-color: #E8BB77; /* Background color of the progress bar */
    border-radius: 20px; /* Rounded corners */
    
}

progress::-webkit-progress-value {
    background-color: rgb(66, 40, 0);  /* Color of the progress */
    border-radius: 10px; /* Rounded corners */
}
h2 {
    margin-top: 20px; /* Add some space at the top */
    margin-bottom: 20px; /* Add some space below the title */
    font-size: 3em; /* Adjust the font size as needed */
    color: #E8BB77; /* Example color */
}

#coin {
    width: 250px; /* Adjust the size as needed */
    cursor: pointer;
    outline: none; /* Remove outline */
    border: none; /*2px solid yellow;  Remove border*/
    border-radius: 50%;
    -webkit-tap-highlight-color: transparent; /* Remove tap highlight color on mobile devices */
    
}

/* Remove focus outline */
#coin:focus {
    outline: none;
}
@keyframes shake {
    0%, 100% { transform: translateX(0); }
    10%, 30%, 50%, 70%, 90% { transform: translateX(-9px); }
    20%, 40%, 60%, 80% { transform: translateX(9px); }
}

.shake {
    animation: shake 0.2s;
}

.plus-one {
    position: fixed;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.5em;
    font-weight: bolder;
    color: #E8BB77; /* Adjust the color as needed */
    transition: bottom 1s ease-out, opacity 1s ease-out; /* Animation duration and easing */
}

/* Footer styles */
.footer {
    display: flex;
    justify-content: center;
    margin-top: 14em; /* Adjust as needed */
    margin-bottom: -2em;
}

/* Button styles */
button {
    margin: 0 4px; /* Adjust as needed */
    width: 5.9em;
    height: 4em;
    background-color: rgb(66, 40, 0); /* Example color */
    color: white;
    border: 4px solid #E8BB77;
    border-radius: 1.6em;
    font-weight: bold;
    cursor: pointer;
}

button:active {
    background-color: rgb(126, 79, 10); ; /* Example color */
    -webkit-tap-highlight-color: transparent; /* Remove tap highlight color on mobile devices */
}
